<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">

  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="description" content="{{ default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
      body {
        background: url({{ site.baseurl }}/assets/images/magic_book_by_colgreyis-d4gg46f.jpg) no-repeat center fixed; 
        -webkit-background-size: cover;
        background-size: cover;}
      section.main-content {
        float:left;
        width:100%;}
      section.page-header {background-image:initial;}
    </style>
  </head>

  <body id="body" class="dark-mode"><section class="main-content">{{ content }}</section></body>
</html>
