<!DOCTYPE html>
<html lang="{{ site.lang | default: 'fr' }}">

  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="description" content="{{ default: site.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/comments.css">
    <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/date.js"></script>
    <script type="text/javascript" src="{{ site.baseurl}}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/w3.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/custom.js"></script>
  </head>

  <body id="body">
    <section class="page-header">
      <div class="neon"><h1 class="project-name">La croisée des chemins</h1><br><h2 class="project-tagline">Où vous mèneront vos choix ?</h2></div>

      <div class="page-header-menu">
        <div class="divbreak">
          <a href="{{ site.baseurl }}{% link index.md %}"><button class="border">Accueil</button></a>
          <a href="{{ site.baseurl }}{% link all.md %}#main-content"><button class="border">Histoires</button></a>
        </div>
        <div class="divbreak">
          <a href="{{ site.baseurl }}{% link license.md %}#main-content"><button class="border">Licences</button></a>
          <a href="{{ site.baseurl }}{% link about.md %}#main-content"><button class="border">À propos</button></a>
        </div>
        <div class="divbreak">
          <a href="{{ site.baseurl }}{% link suggestions.md %}#main-content"><button class="border">Contact</button></a>
          <a href="{{ site.baseurl }}{% link feed.news.xml %}"><button class="border">RSS</button></a>
        </div>
        <div class="divbreak">
          <a href="https://quantumsideral.github.io/"><button class="border">Quantum sidéral</button></a>
        </div>
        <div class="divbreak">
          <button type="button" id="darkLight" onclick="toggleDarkLight('body','darkLight','buttonDelete')">Dark mode</button>
        </div>
      </div>
      <div class="page-header-menu">
        <div class="divbreak">
          <a href="{{ site.baseurl }}{% link manuel.md %}#main-content"><button class="border">Manuel d’utilisation</button></a>
        </div>
      </div>
    </section>
    <section class="main-content" id="main-content">
      {% if page.choicePath == 0 %}
        <button id="buttonDelete" onclick="deleteSave('LCDC-{{ page.storyId }}')">Effacer votre partie précédente</button>
      {% endif %}

      <p id="continue"></p>{{ content }}

      {% if page.choicePath %}
        <script type="text/javascript">setProgression("LCDC-{{ page.storyId }}-progression","{{ page.choicePath }}");</script>
      {% endif %}

      {% if page.commentIssueId %}
        <br><br>
        <div id="comments">
          <h1>Commentaires</h1>
          <div id="header">
            Vous souhaitez commenter cette histoire ? Allez sur <a href="https://github.com/quantumsideral/la-croisee-des-chemins/issues/{{ page.commentIssueId }}"> le fil de commentaires de ce post sur GitHub</a> ! (Vous allez avoir besoin d’un compte Github.)<br><br>
          </div>
        </div>
        <script type="text/javascript">fireComments();</script>
      {% endif %}

    </section>
    <script type="text/javascript">setLightMode("body","darkLight","buttonDelete");</script>
  </body>
</html>

